name: Android CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        run: |
          gradle init --type android-app --dsl gradle # ഇല്ലാത്ത ഫയലുകൾ ഓട്ടോമാറ്റിക്കായി ഉണ്ടാക്കാൻ
          gradle assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Flashlight-App
          path: app/build/outputs/apk/debug/*.apk
